{% extends "base.html" %}

{% block title %}Menu główne{% endblock %}

{% block body %}

<div class="container-fluid">
    <header class="row header">
        <div class="col-2 position-relative">
            <img src="/img/icon-content.png" alt=""
                class="img-fluid p-3 position-absolute top-50 start-50 translate-middle">
        </div>
        <div class="col-5 border-bottom p-0">
            <h1 class="display-5">Menu</h1>
        </div>
        <div class="col-3 position-relative border-bottom">
            <div class="position-absolute top-50 start-50 translate-middle border py-1 px-3 rounded-pill">
                <p class="fs-5 fw-light m-0"><i class="fas fa-user me-2"></i>{{ user.name }}</p>
            </div>
        </div>
        <div class="col-2 border-bottom">
            <h1 class="fs-4 fw-light">Menu</h1>
        </div>
    </header>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-caret-square-left me-2"></i>Dodaj przychód</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-caret-square-right me-2"></i>Dodaj wydatek</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-table me-2"></i>Przeglądaj bilans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><i class="fas fa-power-off  me-2"></i>Wyloguj</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
