{% extends "base.html" %}

{% block title %}Menu główne{% endblock %}

{% block body %}

<div class="container-fluid">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Dodaj przychód</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dodaj wydatek</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Przeglądaj bilans</a>
        </li>
    </ul>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
