{% extends "base.html" %}

{% block title %}Menu główne{% endblock %}

{% block body %}

<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-inline-block">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column align-items-center">
                        <li class="nav-item pb-1 mt-4">
                            <a class="nav-link" aria-current="page" href="#"><i
                                    class="fas fa-caret-square-left me-2"></i>Dodaj przychód</a>
                        </li>
                        <li class="nav-item pb-1">
                            <a class="nav-link" aria-current="page" href="#"><i
                                    class="fas fa-caret-square-right me-2"></i>Dodaj wydatek</a>
                        </li>
                        <li class="nav-item pb-1">
                            <a class="nav-link" aria-current="page" href="#"><i class="fas fa-table me-2"></i>Przeglądaj
                                bilans</a>
                        </li>
                        <li class="nav-item pb-1 mt-4">
                            <a class="nav-link" aria-current="page" href="#"><i
                                    class="fas fa-cog me-2"></i>Ustawienia</a>
                        </li>
                        <li class="nav-item pb-1">
                            <a class="nav-link" aria-current="page" href="/logout"><i
                                    class="fas fa-power-off  me-2"></i>Wyloguj</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% endblock %}

    {% block footer %}
    {% endblock %}
