body {
    background-color: #293241;
    font-family: 'Open Sans', sans-serif;
    color: #6A707A;
}

.home-image {
    background-image: url(/img/money.jpg);
    background-size: cover;
}

.button-normal {
    color: #fff;
    background-color: #ee6c4d;
}

.button-normal:hover {
    color: #fff;
    background-color: #b64c32;
}

.button-outline {
    color: #ee6c4d;
    border: 1px solid #ee6c4d;
    background-color: transparent;
}

.button-outline:hover {
    color: #fff;
    background-color: #ee6c4d;
}

.input-group-text  {
    background-color: rgba(255,255,255, 0.1);
}

.form-control,
.form-select {
    background-color: rgba(255,255,255, 0.15);
}

.form-control:hover,
.form-control:focus,
.form-select:hover {
    background-color: rgba(255,255,255, 0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0px 0px 0px 1000px transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.change-form {
    color: #3d5a80;
}

a.change-form:hover {
    color: #98c1d9;
    text-decoration: underline !important;
}

#password-input {
    padding-right: 50px !important;
}

.hidden-password {
    background-color: transparent;
    border: none;
    color: #293241;
    z-index: 4;
    padding-top: 0.75rem !important;
}

.showed-password {
    display: none;
    background-color: transparent;
    border: none;
    color: #293241;
    z-index: 4;
    padding-top: 0.75rem !important;
}

label.error,
li.error {
    color: red;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

.form-check {
    position: relative;
  }
  
input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
  
input[type=checkbox]:checked+label::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    height: 21px;
    width: 21px;
    left: 0;
    top: 4px;
    background-color: #ee6c4d;
    border-radius: 2px;
    border: 1px solid rgb(150 150 150 / 30%);
  }
  
input[type=checkbox]:checked+label::after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
    display: block;
    position: absolute;
    left: 3px;
    top: 4px;
  }

.form-check-label {
    margin-top: 1px;
  }

.forgot-password {
    margin-top: 1px;
}

a.forgot-password:hover {
    color: #98c1d9 !important;
    text-decoration: underline !important;
}

.alert {
    z-index: 2000 !important;
}

.nav-link {
    color:rgba(255,255,255, 0.55);
    transition: all 1s;
    font-size: 1.25rem;
}

.nav-link:hover,
.nav-link:focus {
    color: #fff;
    transform: translateX(0.5rem);
}

.content-link {
    color:rgba(255,255,255, 0.55);
    transition: all 0.5s;
}

.content-link:hover,
.content-link:focus {
    color: #fff;
}

.header {
    color:rgba(255,255,255, 0.55);
}

.nav-mobile {
    display: none;
}

.content-user-pill {
    border-color: #ee6c4d !important;
}

.content-alert {
    width: 83%;
}

.budget-item, 
.budget-item::placeholder, 
.balance, 
.form-select, 
.balance-table,
.form-label-budget-item {
    color: #e0fbfc;
}

#date:focus, #amount:focus {
    color:#e0fbfc;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.form-check-label {
    background-color: rgba(255,255,255, 0.15);
    color: #e0fbfc;
    transition: 300ms;
}

.form-check-input:checked + .form-check-label {
    background-color: #98c1d9;

}

.budget-item-radio {
    margin-right: -8px;
}

@media (max-width: 1400px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 575px) {
    .home-content {
        width: 100% !important;
    }

    .content-logo,
    .content-user,
    .content-logout {
        display: none !important;
    }

    .content-title {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
    }

    .content-title h1 {
        font-size: 2.75rem;
    }

    .content-nav {
        position: absolute;
        top: -15px;
        width: 100%;
        background-color: #293241 !important;
        --bs-bg-opacity: 1;
    }

    .nav-mobile {
        display: list-item;
    }

    .content-main {
        width: 100%;
    }
}