<!DOCTYPE html>
<html lang="pl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Reset hasła</title>
</head>

<body>
    <div style="width: 640px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">
        <img src="cid:image" height="60" width="480" alt="Logo">
        <h1>Reset hasła</h1>
        <p>Zresetuj hasło do Twojego konta w aplikacji <b>Ogarnij portfel</b></p>
        <p>Kliknij <a href="{{ url }}">tutaj</a> aby zresetować hasło</p>
    </div>
</body>

</html>
