{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}

<main class="min-vh-100 d-flex align-items-center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-6 col-xl-4">
                <img src="/img/title.png" alt="" class="w-100 mt-xl-0">
                <h1 class="fs-2 my-3">Zmień hasło</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <form action="/password/reset-password" id="form" method="post" class="col-10 col-sm-8 col-md-6 col-xl-4">
                <input type="hidden" name="token" value="{{ token }}">
                <div class="input-group mb-3 border-0">
                    <span class="input-group-text border-0 p-3" id="basic-addon3"><i class="fas fa-lock"></i></span>
                    <input type="password" id="password-input"
                        class="form-control border-0 p-3 ms-0 text-white rounded-end" placeholder="Hasło"
                        aria-label="Hasło" aria-describedby="basic-addon3" name="password" required>
                    <button type="button" class="hidden-password me-2 p-2 fs-4 position-absolute top-0 end-0"><i
                            class="fas fa-eye-slash"></i></button>
                    <button type="button" class="showed-password me-2 p-2 fs-4 position-absolute top-0 end-0"> <i
                            class="fas fa-eye"></i></button>
                </div>
                {% if user.errors is not empty %}
                <ul class="list-unstyled">
                    {% for error in user.errors %}
                    <li class="error m-0">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <button class="btn button-normal w-100 button-sign p-3 text-uppercase fw-bold border-0">Zmień
                    hasło</button>
            </form>
        </div>
    </div>

    {% endblock %}

    {% block footer %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="/js/hideShowPassword.js"></script>
    <script src="/js/validate.js"></script>
    {% endblock %}
