{% extends "base.html" %}

{% block title %}Reset hasła{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 position-absolute top-50 start-50 translate-middle">
            <img src="/img/title.png" alt="" class="w-100">
            <h1 class="text-center fs-2 my-3">Nieudane zresetowanie hasła</h1>
            <p class="text-center fs-5">Link do zresetowania hasła jest nieprawidłowy lub wygasł. Proszę kliknąć <a
                    class="text-reset" href="/password/forgot">tutaj</a> aby wygerować nowy link</p>
        </div>
    </div>
</div>

{% endblock %}
