{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="conteiner-fluid">
    <div class="row align-items-center m-0">
        <div class="col-5 home-image min-vh-100">
        </div>
        <div class="col-7">
            <div class="d-flex flex-column justify-content-center m-5">
                <img src="/img/title.png" alt="">
                <h1>Bądź świadomy swoich wydatków i oszczędzaj pieniądze</h1>
                <ul>
                    <li>Dodawaj swoje przychody i rozchody</li>
                    <li>Zorganizuje swoje pieniądze w kategorie</li>
                    <li>Przelądaj stan swoich finansów</li>
                </ul>
                <a href=""><button>Zaloguj się</button></a>
                <a href=""><button>Zarejestruj się</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
