{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="conteiner-fluid">
    <div class="row align-items-center m-0">
        <div class="col-5 home-image min-vh-100">
        </div>
        <div class="col-7 d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center w-50">
                <img src="/img/title.png" alt="" class="w-100 mb-3">

                <ul class="list-unstyled fs-3 fw-light my-3 text-center">
                    <li>Dodawaj swoje przychody i rozchody</li>
                    <li>Zorganizuj swoje pieniądze w kategorie</li>
                    <li>Przeglądaj stan swoich finansów</li>
                </ul>
                <h1 class="fs-2 text-center my-2">Bądź świadomy swoich wydatków i oszczędzaj pieniądze</h1>
                <a href="" class="btn btn-outline-light btn-lg mt-5 w-75">Zaloguj się</a>
                <a href="" class="btn btn-light mt-3 btn-lg w-75">Zarejestruj się</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
