{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="conteiner-fluid">
    <div class="row align-items-center m-0">
        <div class="col-5 home-image min-vh-100">
        </div>
        <div class="col-7 d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center w-50">
                <img src="/img/title.png" alt="" class="w-100 mb-3">

                <ul class="list-unstyled fs-3 fw-light my-3 text-center">
                    <li>Dodawaj swoje przychody i wydatki</li>
                    <li>Przeglądaj stan swoich finansów</li>
                    <li>Bądź świadomy swoich wydatków</li>
                    <li>Zacznij oszczędzać swoje pieniądze</li>
                </ul>
                <a href="" class="button-normal btn btn-lg mt-5 w-100 text-uppercase">Zaloguj się</a>
                <a href="" class="button-outline btn btn-lg mt-3 w-100 text-uppercase">Zarejestruj się</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
