{% extends "baseApp.html" %}

{% block title %}Ustawienia{% endblock %}

{% block pageTitle %}
<h1 class="display-6">Ustawienia</h1>
{% endblock %}

{% block body %}
<ul class="list-unstyled fs-5">
    <li id="change-username" class="setting-list mb-3 py-2">Zmień nazwę użytkownika</li>
    <li id="change-password" class="setting-list mb-3 py-2">Zmień hasło</li>
    <li id="change-incomes-category" class="setting-list mb-3 py-2">Zmień kategorie przychodu</li>
    <li id="change-expenses-category" class="setting-list mb-3 py-2">Zmień kategorie wydatków</li>
    <li id="change-payment-methods" class="setting-list mb-3 py-2">Zmień sposoby płatności</li>
</ul>
{% endblock %}

{% block footer %}
<script src="/js/getCurrentDate.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="/js/validateIncome.js"></script>
{% endblock %}
