{% extends "baseApp.html" %}

{% block title %}Ustawienia{% endblock %}

{% block pageTitle %}
<h1 class="display-6">Ustawienia</h1>
{% endblock %}

{% block body %}
<div class="container-fluid p-lg-0 fs-5 me-3">
    <div class="col-12 col-lg-9 col-xl-6">
        <div class="py-2 mb-3">
            <h1 id="change-username" class="setting-list fs-5">Zmień nazwę użytkownika</h1>
            <div class="settings-form change-username">
                <form action="/settings/change-name" method="post" class="input-group">
                    <input type="text" class="form-control settings-input border-0" name="name"
                        placeholder="Wpisz nową nazwę użytkownika">
                    <button type="submit" class="btn button-normal px-3 text-uppercase fw-bold me-2">Zapisz</button>
                </form>
            </div>
        </div>
        <div class="py-2 mb-3">
            <h1 id="change-password" class="setting-list fs-5">Zmień hasło</h1>
            <div class="settings-form change-password">
                <form action="/settings/change-password" method="post" class="input-group">
                    <input id="password-input" type="password" class="form-control settings-input border-0"
                        name="password" placeholder="Wpisz nowe hasło">
                    <button type="submit"
                        class="btn button-normal px-3 text-uppercase fw-bold rounded-end me-2">Zapisz</button>
                    <button type="button"
                        class="hidden-password settings-hidden me-2 p-2 fs-4 position-absolute top-0 end-0"><i
                            class="fas fa-eye-slash"></i></button>
                    <button type="button"
                        class="showed-password settings-showed me-2 p-2 fs-4 position-absolute top-0 end-0">
                        <i class="fas fa-eye"></i></button>
                </form>
            </div>
        </div>
        <div class="mb-3 py-2">
            <h1 id="change-incomes-category" class="setting-list fs-5">Zmień kategorie przychodów</h1>
            <div class="settings-form change-incomes-category">
                <h2 class="fs-5 mt-3 ps-4">Dodaj kategorie</h2>
                <form action="/settings/add-income-category" method="post" class="input-group ps-4">
                    <button type="button" class="btn button-chosen-icon px-3 fw-light" data-bs-toggle="modal"
                        data-bs-target="#choiceIncomeIcon">Wybierz ikonę</button>
                    <input type="text" class="form-control settings-input border-0" name="category">
                    <input class="chosen-icon-input-value" type="hidden" name="icon">
                    <button type="submit" class="btn button-normal px-3 text-uppercase fw-bold me-2">Dodaj</button>
                </form>
                <h2 class="fs-5 mt-3 ps-4">Zmień kategorie</h2>
                <form action="" class="input-group ps-4">
                    {% for category in incomeCategories %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <div>
                            <input type="radio" class="form-check-input" name="incomeCategory" id="1{{ category.name }}"
                                value="{{ category.id }}">
                            <label for="1{{ category.name }}"
                                class="category-label form-check-label text-uppercase px-3 py-2 rounded w-100 text-center fs-6"
                                role="button"><i class="{{ category.icon }} me-2"></i>{{ category.name }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="input-group w-100 me-2">
                        <input type="text" class="form-control settings-input border-0">
                        <button type="button" class="btn button-outline px-3 text-uppercase fw-bold"
                            data-bs-toggle="modal" data-bs-target="#choiceIncomeIcon">Wybierz ikonę</button>
                        <button type="submit" class="btn button-normal px-3 text-uppercase fw-bold">Zapisz</button>
                    </div>
                </form>
                <h2 class="fs-5 mt-3 ps-4">Usuń kategorie</h2>
                <form action="" class="input-group ps-4">
                    {% for category in incomeCategories %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <div>
                            <input type="radio" class="form-check-input" name="incomeCategory" id="{{ category.name }}"
                                value="{{ category.id }}">
                            <label for="{{ category.name }}"
                                class="category-label form-check-label text-uppercase px-3 py-2 rounded w-100 text-center fs-6"
                                role="button"><i class="{{ category.icon }} me-2"></i>{{ category.name }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <button type="submit"
                            class="btn button-normal px-3 py-2 text-uppercase fw-bold w-100 fs-6">Usuń</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-3 py-2">
            <h1 id="change-expenses-category" class="setting-list fs-5">Zmień kategorie wydatków</h1>
            <div class="settings-form change-expenses-category">
                <h2 class="fs-5 mt-3 ps-4">Dodaj kategorie</h2>
                <form action="" class="input-group ps-4">
                    <input type="text" class="form-control settings-input border-0">
                    <button type="button" class="btn button-outline px-3 text-uppercase fw-bold" data-bs-toggle="modal"
                        data-bs-target="#choiceIncomeIcon">Wybierz ikonę</button>
                    <button type="submit" class="btn button-normal px-3 text-uppercase fw-bold me-2">Dodaj</button>
                </form>
                <h2 class="fs-5 mt-3 ps-4">Zmień kategorie</h2>
                <form action="" class="input-group ps-4">
                    {% for category in expenseCategories %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <div>
                            <input type="radio" class="form-check-input" name="incomeCategory" id="1{{ category.name }}"
                                value="{{ category.id }}">
                            <label for="1{{ category.name }}"
                                class="category-label form-check-label text-uppercase px-3 py-2 rounded w-100 text-center fs-6"
                                role="button"><i class="{{ category.icon }} me-2"></i>{{ category.name }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="input-group w-100 me-2">
                        <input type="text" class="form-control settings-input border-0">
                        <button type="button" class="btn button-outline px-3 text-uppercase fw-bold"
                            data-bs-toggle="modal" data-bs-target="#choiceIncomeIcon">Wybierz ikonę</button>
                        <button type="submit" class="btn button-normal px-3 text-uppercase fw-bold">Zapisz</button>
                    </div>
                </form>
                <h2 class="fs-5 mt-3 ps-4">Usuń kategorie</h2>
                <form action="" class="input-group ps-4">
                    {% for category in expenseCategories %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <div>
                            <input type="radio" class="form-check-input" name="incomeCategory" id="{{ category.name }}"
                                value="{{ category.id }}">
                            <label for="{{ category.name }}"
                                class="category-label form-check-label text-uppercase px-3 py-2 rounded w-100 text-center fs-6"
                                role="button"><i class="{{ category.icon }} me-2"></i>{{ category.name }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <button type="submit"
                            class="btn button-normal px-3 py-2 text-uppercase fw-bold w-100 fs-6">Usuń</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-3 py-2">
            <h1 id="change-payment-method" class="setting-list fs-5">Zmień sposoby płatności</h1>
            <div class="settings-form change-payment-method">
                <h2 class="fs-5 mt-3 ps-4">Dodaj sposób płatności</h2>
                <form action="" class="input-group ps-4">
                    <input type="text" class="form-control settings-input border-0">
                    <button type="button" class="btn button-outline px-3 text-uppercase fw-bold" data-bs-toggle="modal"
                        data-bs-target="#choiceIncomeIcon">Wybierz ikonę</button>
                    <button type="submit" class="btn button-normal px-3 text-uppercase fw-bold me-2">Dodaj</button>
                </form>
                <h2 class="fs-5 mt-3 ps-4">Zmień sposób płatności</h2>
                <form action="" class="input-group ps-4">
                    {% for method in paymentMethods %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <div>
                            <input type="radio" class="form-check-input" name="incomeCategory" id="1{{ method.name }}"
                                value="{{ method.id }}">
                            <label for="1{{ method.name }}"
                                class="category-label form-check-label text-uppercase px-3 py-2 rounded w-100 text-center fs-6"
                                role="button"><i class="{{ method.icon }} me-2"></i>{{ method.name }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="input-group w-100 me-2">
                        <input type="text" class="form-control settings-input border-0">
                        <button type="button" class="btn button-outline px-3 text-uppercase fw-bold"
                            data-bs-toggle="modal" data-bs-target="#choiceIncomeIcon">Wybierz ikonę</button>
                        <button type="submit" class="btn button-normal px-3 text-uppercase fw-bold">Zapisz</button>
                    </div>
                </form>
                <h2 class="fs-5 mt-3 ps-4">Usuń sposób płatności</h2>
                <form action="" class="input-group ps-4">
                    {% for method in paymentMethods %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <div>
                            <input type="radio" class="form-check-input" name="incomeCategory" id="{{ method.name }}"
                                value="{{ method.id }}">
                            <label for="{{ method.name }}"
                                class="category-label form-check-label text-uppercase px-3 py-2 rounded w-100 text-center fs-6"
                                role="button"><i class="{{ method.icon }} me-2"></i>{{ method.name }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                        <button type="submit"
                            class="btn button-normal px-3 py-2 text-uppercase fw-bold w-100 fs-6">Usuń</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="choiceIncomeIcon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wybierz ikonę</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        {% for icon in icons %}
                        <div class="form-check-inline categories mb-2 me-2 flex-grow-1">
                            <input type="radio" class="form-check-input chosen-icon-input" name="icon"
                                id="{{ icon.icon }}" value="{{ icon.icon }}" required>
                            <label for="{{ icon.icon }}"
                                class="form-check-label text-uppercase px-3 py-2 rounded w-100 text-center fs-1"
                                role="button"><i class="{{ icon.icon }} me-2"></i></label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-outline" data-bs-dismiss="modal">Zamknij</button>
                    <button id="button-chosen-icon-in-modal" type="button" class="btn button-normal">Wybierz</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="/js/validateIncome.js"></script>
<script src="/js/hideShowPassword.js"></script>
<script src="/js/hideShowSettings.js"></script>
<script src="\js\getIcon.js"></script>
{% endblock %}
