<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="container-fluid pt-lg-2">
        <header class="row header mt-lg-2 me-lg-2">
            <div class="col-2 position-relative content-logo pb-2">
                <img src="/img/icon-content.png" alt=""
                    class="img-fluid p-4 m-2 position-absolute top-50 start-50 translate-middle">
            </div>
            <div class="col-5 border-bottom p-0 content-title">
                {% block pageTitle %} {% endblock %}
            </div>
            <div class="col-3 position-relative border-bottom content-user pb-2">
                <div
                    class="position-absolute top-50 start-50 translate-middle border py-1 px-3 rounded-pill content-user-pill w-auto d-flex align-items-center justify-content-center">
                    <i class="fas fa-user me-2 fs-4 d-inline-block"></i>
                    <p class="fs-4 fw-light m-0 d-inline-block">{{ currentUser.name }}</p>
                </div>
            </div>
            <div class="col-2 border-bottom d-flex align-items-center justify-content-end content-logout pb-2">
                <a href="#" class="content-link d-inline-block mx-3"><i class="fas fa-cog fs-1"></i></a>
                <a href="/logout" class="content-link d-inline-block mx-3"><i class="fas fa-power-off fs-1"></i></a>
            </div>
        </header>
        <div class="row mt-lg-4">
            <nav class="navbar navbar-expand-lg navbar-dark col-2 content-nav align-items-start pt-0 pb-3 pb-xl-0">
                <div class="container-fluid p-lg-0 mt-3 mt-lg-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link mb-3" href="/income/new"><i
                                        class="fas fa-caret-square-left me-3"></i>Dodaj
                                    przychód</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-3" href="/expense/new"><i
                                        class="fas fa-caret-square-right me-3"></i>Dodaj
                                    wydatek</a>
                            </li>
                            <li class="nav-item">
                                <form action="/balance/show" method="post">
                                    <input type="hidden" name="chosenPeriod" id="chosenPeriod">
                                    <input type="hidden" name="selectPeriod" id="selectPeriodCurrent">
                                    <button type="submit" class="nav-link mb-3 btn btn-link border-0"><i
                                            class="fas fa-table me-3"></i>Przeglądaj bilans</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-3" href="#"><i class="fas fa-cog me-3"></i>Ustawienia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-3" href="/logout"><i class="fas fa-power-off me-3"></i>Wyloguj</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-10 content-main pt-3 p-lg-0 pb-3 pb-xl-0">
                {% for message in flash_messages %}
                <div class="alert alert-{{ message.type }} text-center fw-bold alert-dismissible fade show content-alert"
                    role="alert">
                    {{ message.body }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="/js/all.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/getCurrentMonth.js"></script>
    {% block footer %}
    {% endblock %}
</body>

</html>
